/*

SUBSCRIBE

*/

.subscribe__container a {
  align-self: flex-start;
  margin: 24px auto;
  width: 100%;
  max-width: 1200px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 36px; 
  margin-top: 24px;
}

.subscribe__link {
  display: flex;
  color: royalblue;
  align-items: center;
  text-align: none;
  gap: 8px;
}

.subscribe__selected--top {
  color: royalblue;
}

.subscribe__header {
  font-size: 48px;
  margin: 36px 0;
  color: fuchsia;
}

input {
  display: flex;
  align-self: center;
  height: 48px;
  width: 75%;
  font-size: 20px;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 840px;
  background-color: rgb(173, 204, 230); 
}

.subscribe__button {
  width: 50%;
  align-self: center;
  height: 48px;
  border-radius: 12px;
  background-color: royalblue;
  color: white;
  font-size: 24px;
  border: none;
  margin-top: 36px;
}

.subscribe__button:hover {
  background-color: white;
  color: royalblue;
  border: 2px solid #ccc;
  text-decoration: underline fuchsia;
}

/*SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {

.subscribe__header {
  text-align: center;
  margin: 10px 0;
}

.subscribe__form {
  margin-top: 36px;
  gap: 36px;
  width: 80%;
}

input {
  width: 100%;
}

.subscribe__header .royal {
  white-space: nowrap;
}

.subscribe__button {
  width: 75%;
}
}